<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.manager.UserInfoDao">

	<select id="findById" resultType="UserInfoEntity" parameterType="Long">
		select id,userName from sys_user_info where id =#{id}
	</select>


</mapper>
 

